{
    "openapi": "3.0.2",
    "info": {
        "title": "Oura API",
        "description": "# Overview \n\nThe Oura API allows Oura users and partner applications to improve their user experience with Oura data.\n\nThis document describes the Oura API Version 2 (V2), which supports access to the latest Oura Ring data types.\n For access to other data types—which have not yet migrated to V2—refer to the [Oura API Version 1 (V1)](https://cloud.ouraring.com/docs/) documentation.\n\n# Data Access\n\nIndividual Oura users can access their own data through the API by using a [Personal Access Token](https://cloud.ouraring.com/personal-access-tokens).\n\nIf you want to retrieve data for multiple users, a registered [API Application](https://cloud.ouraring.com/oauth/applications) is required.\n API Applications are limited to **10** users before requiring approval from Oura. There is no limit once an application is approved.\n Additionally, Oura users **must provide consent** to share each data type an API Application has access to.\n\nAll data access requests through the Oura API require [Authentication](https://cloud.ouraring.com/docs/authentication).\n\nAdditionally, we recommend that Oura users keep their mobile app updated to support API access for the latest data types.\n The Oura API V2 returns a 426 response code for users who do not have an updated version of the app installed.\n\n# Authentication\n\nThe Oura API provides two methods for Authentication: (1) the OAuth2 protocol and (2) Personal Access Tokens. For more information on the OAuth2 flow, see our [Authentication instructions](https://cloud.ouraring.com/docs/authentication).\n\nAccess tokens must be included in the request header as follows:\n```http\nGET /v2/usercollection/personal_info HTTP/1.1\nHost: api.ouraring.com\nAuthorization: Bearer <token>\n```\n\n# Oura HTTP Response Codes\n\n| Response Code                        | Description |\n| ------------------------------------ | - |\n| 200 OK                               | Successful Response         |\n| 400 Query Parameter Validation Error | The request contains query parameters that are invalid or incorrectly formatted. |\n| 426 Minimum App Version Error        | The Oura user's mobile app does not meet the minimum app version requirement to support sharing the requested data type. The Oura user must update their mobile app to enable API access for the requested data type. |\n| 429 Request Rate Limit Exceeded        | The API is rate limited to 5000 requests in a 5 minute period. You will receive a 429 error code if you exceed this limit. [Contact us](mailto:api-support@ouraring.com) if you expect your usage to exceed this limit.| ",
        "termsOfService": "https://cloud.ouraring.com/legal/api-agreement",
        "version": "2.0",
        "x-logo": {
            "url": "/v2/static/images/Oura_Logo-Developer_RBG_Black.svg"
        }
    },
    "servers": [
        {
            "url": "https://api.ouraring.com"
        }
    ],
    "paths": {
        "/v2/usercollection/daily_activity": {
            "get": {
                "tags": [
                    "Daily Activity"
                ],
                "summary": "Get Daily Activity",
                "description": "Returns Oura Daily Activity data for the specified Oura user within a given timeframe",
                "operationId": "daily_activity_route_daily_activity_get",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "title": "Start Date",
                            "type": "string",
                            "format": "date",
                            "description": "```YYYY-MM-DD``` formatted start date [default: ```end_date``` - 1 day]"
                        },
                        "name": "start_date",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "End Date",
                            "type": "string",
                            "format": "date",
                            "description": "```YYYY-MM-DD``` formatted end date [default: current UTC date]"
                        },
                        "name": "end_date",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "title": "Next Token",
                            "type": "string",
                            "description": "Pagination token"
                        },
                        "name": "next_token",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DailyActivityResponse"
                                },
                                "examples": {
                                    "example": {
                                        "summary": "example",
                                        "value": {
                                            "data": [
                                                {
                                                    "class_5_min": "000000000000000000000000000000000000000000000000000000000000000000000000003444544444445545455443454554454443334333322330000000000232232222222232222222322223222000000022332233422333222232233333222222222222222332223212233222122221111111111111121111111111111111111111111111111111111111111111",
                                                    "score": 82,
                                                    "active_calories": 1222,
                                                    "average_met_minutes": 1.90625,
                                                    "contributors": {
                                                        "meet_daily_targets": 43,
                                                        "move_every_hour": 100,
                                                        "recovery_time": 100,
                                                        "stay_active": 98,
                                                        "training_frequency": 71,
                                                        "training_volume": 98
                                                    },
                                                    "equivalent_walking_distance": 20122,
                                                    "high_activity_met_minutes": 444,
                                                    "high_activity_time": 3000,
                                                    "inactivity_alerts": 0,
                                                    "low_activity_met_minutes": 117,
                                                    "low_activity_time": 10020,
                                                    "medium_activity_met_minutes": 391,
                                                    "medium_activity_time": 6060,
                                                    "met": {
                                                        "interval": 60,
                                                        "items": [
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            2,
                                                            1.9,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            2.8,
                                                            3.5,
                                                            3.4,
                                                            3.8,
                                                            5.3,
                                                            5.4,
                                                            3.4,
                                                            1.5,
                                                            2.7,
                                                            9.1,
                                                            4.1,
                                                            5.3,
                                                            4.8,
                                                            5.8,
                                                            3.5,
                                                            5.6,
                                                            5.7,
                                                            5.4,
                                                            5.6,
                                                            12.1,
                                                            9.3,
                                                            5.7,
                                                            5.6,
                                                            3.5,
                                                            5.3,
                                                            5.1,
                                                            5.1,
                                                            5,
                                                            5.4,
                                                            5.4,
                                                            5.9,
                                                            5.4,
                                                            5,
                                                            5.4,
                                                            5,
                                                            5,
                                                            7.4,
                                                            5.8,
                                                            4.5,
                                                            2.7,
                                                            1.3,
                                                            5.8,
                                                            6.4,
                                                            3.4,
                                                            7.7,
                                                            3.9,
                                                            3.1,
                                                            3.9,
                                                            9,
                                                            4.7,
                                                            4.8,
                                                            5.7,
                                                            6.1,
                                                            4.4,
                                                            5.6,
                                                            7.4,
                                                            6.7,
                                                            11.4,
                                                            14.6,
                                                            14,
                                                            4,
                                                            1.7,
                                                            4.4,
                                                            7,
                                                            15,
                                                            11.7,
                                                            5.4,
                                                            3,
                                                            4.8,
                                                            4.8,
                                                            5,
                                                            7.9,
                                                            13.8,
                                                            8.9,
                                                            6.3,
                                                            2.2,
                                                            5.1,
                                                            8.6,
                                                            4.4,
                                                            7.6,
                                                            7.7,
                                                            7,
                                                            11.5,
                                                            8.3,
                                                            12,
                                                            14.2,
                                                            8.9,
                                                            5.1,
                                                            5.4,
                                                            5,
                                                            11.9,
                                                            9.7,
                                                            5.1,
                                                            5,
                                                            4.8,
                                                            6.3,
                                                            5,
                                                            5,
                                                            5.3,
                                                            7.8,
                                                            3.9,
                                                            1.4,
                                                            2,
                                                            1.6,
                                                            2.9,
                                                            4.8,
                                                            5.1,
                                                            3.8,
                                                            1.9,
                                                            9.8,
                                                            11.4,
                                                            14.6,
                                                            14.8,
                                                            12.4,
                                                            9.8,
                                                            13.6,
                                                            9.8,
                                                            9.8,
                                                            9.8,
                                                            9.8,
                                                            9.8,
                                                            9.8,
                                                            15.2,
                                                            13.4,
                                                            13.4,
                                                            10.5,
                                                            9.8,
                                                            13,
                                                            14.4,
                                                            4.6,
                                                            2,
                                                            5.6,
                                                            4.8,
                                                            5.6,
                                                            8.2,
                                                            9.5,
                                                            5.4,
                                                            5.9,
                                                            6.7,
                                                            3.8,
                                                            6.3,
                                                            6.2,
                                                            10.9,
                                                            7.9,
                                                            3.6,
                                                            10.3,
                                                            10.1,
                                                            8.3,
                                                            8.3,
                                                            4.3,
                                                            2.6,
                                                            2.5,
                                                            4.1,
                                                            2.4,
                                                            6.3,
                                                            3.6,
                                                            7,
                                                            8.8,
                                                            5.4,
                                                            6.2,
                                                            5.8,
                                                            3.2,
                                                            1.7,
                                                            1.9,
                                                            1.9,
                                                            1.4,
                                                            1.9,
                                                            1.5,
                                                            1.9,
                                                            1.9,
                                                            1.6,
                                                            1.7,
                                                            1.9,
                                                            1.9,
                                                            1.8,
                                                            2.8,
                                                            6.8,
                                                            4.5,
                                                            3.2,
                                                            1.8,
                                                            2.1,
                                                            1.9,
                                                            1.9,
                                                            1.7,
                                                            1.9,
                                                            1.7,
                                                            1.6,
                                                            1.5,
                                                            1.7,
                                                            2,
                                                            1.7,
                                                            1.9,
                                                            3.8,
                                                            3.9,
                                                            2.3,
                                                            3.3,
                                                            5.1,
                                                            1.9,
                                                            1.7,
                                                            1.6,
                                                            1.6,
                                                            1.5,
                                                            1.7,
                                                            1.9,
                                                            1.7,
                                                            1.5,
                                                            1.7,
                                                            2,
                                                            1.7,
                                                            1.2,
                                                            1.4,
                                                            2.2,
                                                            3.2,
                                                            2.4,
                                                            1.2,
                                                            1.1,
                                                            1.2,
                                                            1.4,
                                                            1.7,
                                                            3.8,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            1.3,
                                                            1.6,
                                                            1.6,
                                                            1.8,
                                                            1.9,
                                                            1.5,
                                                            1.4,
                                                            1.7,
                                                            1.7,
                                                            1.8,
                                                            1.5,
                                                            1.5,
                                                            1.7,
                                                            1.5,
                                                            1.8,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            2.7,
                                                            3.4,
                                                            1.5,
                                                            1.7,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.6,
                                                            1.4,
                                                            1.7,
                                                            1.6,
                                                            1.5,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.6,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.7,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.6,
                                                            1.5,
                                                            1.3,
                                                            1.6,
                                                            1.5,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            2.3,
                                                            2.3,
                                                            1.8,
                                                            1.5,
                                                            1.5,
                                                            1.6,
                                                            1.5,
                                                            1.5,
                                                            1.6,
                                                            1.5,
                                                            1.6,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.7,
                                                            1.4,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            1.3,
                                                            1.3,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.7,
                                                            1.5,
                                                            1.6,
                                                            1.8,
                                                            1.6,
                                                            1.4,
                                                            1.4,
                                                            1.6,
                                                            1.4,
                                                            1.8,
                                                            1.4,
                                                            1.7,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            2.2,
                                                            2.3,
                                                            2.4,
                                                            1.5,
                                                            1.3,
                                                            1.4,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.6,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            2.2,
                                                            1.7,
                                                            1.4,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.7,
                                                            1.8,
                                                            1.9,
                                                            1.6,
                                                            1.4,
                                                            1.8,
                                                            1.2,
                                                            1.6,
                                                            1.2,
                                                            1.2,
                                                            2,
                                                            1.4,
                                                            1.2,
                                                            1.5,
                                                            1.5,
                                                            1.3,
                                                            1.3,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            0.1,
                                                            2,
                                                            1.8,
                                                            1.6,
                                                            1.6,
                                                            1.7,
                                                            1.3,
                                                            1.6,
                                                            1.3,
                                                            1.3,
                                                            1.5,
                                                            1.3,
                                                            1.5,
                                                            2.3,
                                                            2.7,
                                                            3,
                                                            2.9,
                                                            4,
                                                            2.2,
                                                            1.9,
                                                            1.9,
                                                            1.3,
                                                            1.3,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.3,
                                                            1.2,
                                                            1.4,
                                                            1.7,
                                                            1.3,
                                                            1.6,
                                                            1.3,
                                                            1.8,
                                                            2.1,
                                                            1.3,
                                                            1.7,
                                                            1.6,
                                                            1.1,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            4.6,
                                                            5.3,
                                                            1.5,
                                                            1.3,
                                                            1.3,
                                                            1.4,
                                                            1.7,
                                                            1.4,
                                                            1.8,
                                                            1.7,
                                                            1.4,
                                                            1.4,
                                                            1.3,
                                                            1.6,
                                                            1.9,
                                                            1.8,
                                                            1.9,
                                                            6.2,
                                                            3.4,
                                                            1.9,
                                                            1.9,
                                                            3,
                                                            1.9,
                                                            1.7,
                                                            3.4,
                                                            1.9,
                                                            2.1,
                                                            2.9,
                                                            1.3,
                                                            1.1,
                                                            1.6,
                                                            1.6,
                                                            1.5,
                                                            1.4,
                                                            1.3,
                                                            1.9,
                                                            1.3,
                                                            1.4,
                                                            1.5,
                                                            1.6,
                                                            1.7,
                                                            2.3,
                                                            1.7,
                                                            1.5,
                                                            1.5,
                                                            1.3,
                                                            1.2,
                                                            1.3,
                                                            1.2,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.7,
                                                            1.9,
                                                            1.9,
                                                            1.3,
                                                            1.7,
                                                            1.7,
                                                            1.5,
                                                            1.5,
                                                            1.9,
                                                            1.5,
                                                            1.3,
                                                            1.4,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.3,
                                                            1.6,
                                                            3.1,
                                                            1.6,
                                                            1.8,
                                                            1.4,
                                                            1.9,
                                                            4.3,
                                                            2.9,
                                                            1.9,
                                                            1.3,
                                                            1.7,
                                                            1.5,
                                                            1.9,
                                                            1.4,
                                                            1.9,
                                                            3.2,
                                                            2.3,
                                                            1.9,
                                                            1.7,
                                                            1.7,
                                                            1.9,
                                                            1.5,
                                                            1.3,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.4,
                                                            1.9,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.3,
                                                            1.5,
                                                            1.6,
                                                            1.4,
                                                            1.5,
                                                            1.6,
                                                            1.6,
                                                            1.5,
                                                            1.5,
                                                            1.3,
                                                            1.5,
                                                            1.5,
                                                            1.7,
                                                            1.7,
                                                            1.5,
                                                            1.3,
                                                            1.5,
                                                            1.3,
                                                            1.4,
                                                            1.3,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.5,
                                                            1.5,
                                                            1.7,
                                                            1.7,
                                                            1.7,
                                                            1.3,
                                                            1.3,
                                                            1.4,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.4,
                                                            1.5,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            1.5,
                                                            1.2,
                                                            1.4,
                                                            1.6,
                                                            1.3,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            1.4,
                                                            1.5,
                                                            1.9,
                                                            1.3,
                                                            1.3,
                                                            1.3,
                                                            1.3,
                                                            1.4,
                                                            1.3,
                                                            1.3,
                                                            1.5,
                                                            1.7,
                                                            1.3,
                                                            1.5,
                                                            1.4,
                                                            1.4,
                                                            1.5,
                                                            1.6,
                                                            1.4,
                                                            1.4,
                                                            1.6,
                                                            2.3,
                                                            2.7,
                                                            4.8,
                                                            1.9,
                                                            2.7,
                                                            1.8,
                                                            1.7,
                                                            1.4,
                                                            1.4,
                                                            1.3,
                                                            1.2,
                                                            1.2,
                                                            1.3,
                                                            1.2,
                                                            1.6,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.3,
                                                            1.9,
                                                            4.4,
                                                            1.7,
                                                            1.4,
                                                            1.2,
                                                            1.3,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.1,
                                                            0.9,
                                                            1,
                                                            0.9,
                                                            1,
                                                            0.9,
                                                            1.3,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            1.3,
                                                            1.3,
                                                            1,
                                                            0.9,
                                                            1,
                                                            1.3,
                                                            1.7,
                                                            3.5,
                                                            2.9,
                                                            1.4,
                                                            2.1,
                                                            4.1,
                                                            2.7,
                                                            1.1,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.1,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            1.6,
                                                            1.2,
                                                            1,
                                                            0.9,
                                                            1,
                                                            1.2,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            1.1,
                                                            1.2,
                                                            1,
                                                            1.2,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            1.8,
                                                            1.2,
                                                            1.3,
                                                            1.4,
                                                            1.4,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1.2,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.6,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            1.3,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.2,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            1,
                                                            1.3,
                                                            1.3,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            1.1,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.3,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.2,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            1,
                                                            1.1,
                                                            1.2,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            1.1,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
                                                            0.9,
[...]
